<template>
  <div class="main-container">
    <div class="input-container">
      <div class="screen" id="scr">
        <b v-for="(message, index) of messages" :key="index">MehdiApp> {{message}}</b>
      </div><div class="screen" id="scr">
        <b v-for="(message, index) of messages" :key="index">MehdiApp> {{message}}</b>
      </div>
      <div class="screen" id="scr">
        <b v-for="(message, index) of messages" :key="index">MehdiApp> {{message}}</b>
      </div>
    </div>
    <div class="input-container">
      <form @submit="checkTyping" class="form-container">
        <input type="text" placeholder="Type something here ... " v-model="inputValue" @click="checkTyping"/>
        <button class="button-sub" type="submit">
          <img src="@/assets/send.svg"/>
        </button> 
      </form>
    </div>
  </div>
</template>

<script>
export default{
  data () {
    return {
      messages: [],
      inputValue: ""
    }
  },
  methods: {
    checkTyping: function (e) {
      var objDiv = document.getElementById("scr");
      e.preventDefault();
      if(this.inputValue.trim().length > 0) {
        this.messages.push(this.inputValue)
        this.inputValue = ""
        objDiv.scrollTop = objDiv.scrollHeight;
      }
      
    }
  },
}
</script>


<style>   
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(102,176,17,1); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(50, 85, 10); 
}
  .screen {
    display: flex;
    flex-direction: column;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: rgba(0, 0, 0, 0.897);
    height: 26rem;
    width:  25rem;
    color: white;
    margin: 0 auto;
    padding: .5rem;
    font: normal normal bold .8rem monospace;
    overflow-y: auto;
    gap: 0;
  }

  input {
    outline: none;
    border: 0;
    border-right: .1rem solid rgb(44, 20, 20);
    height: 2rem;
    width: 22rem;
    font: normal normal normal 1rem Calibri;
  }
  img {
    width: 1.5rem;
  }
  .button-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: 0;
    outline: none;
    background-color: black;
  }
  .form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    border-radius: 5px;
    border: 0;
    padding: .5rem;
    -webkit-box-shadow: 0px 0px 9px 1px rgba(102,176,17,1);
    -moz-box-shadow: 0px 0px 9px 1px rgba(102,176,17,1);
    box-shadow: 0px 0px 9px 1px rgba(102,176,17,1);
  }
  .input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1rem;
  }
</style>
