<template>
  <div class="app">
    <router-view/>
  </div>
</template>

<style lang="scss">

html {
  height: 100%;
}
body {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.app {
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
</style>
